/* Основний контейнер табів */

.tabs-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    /* Забезпечує, щоб вміст не виходив за межі контейнера */
}


/* Контейнер для табів */

.tabs-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}


/* Тіні по краях контейнера */

.tabs-container::before,
.tabs-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.tabs-container::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
}

.tabs-container::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
}


/* Стилі для табів */

.tab {
    display: flex;
    align-items: center;
    padding: 10px;
    /* Прибрано margin для табів */
    background-color: #f0f0f0;
    border-radius: 0;
    /* Прибрано скруглення */
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    /* Забороняє перенос слів */
}


/* Стилі для іконки таба */

.tab-icon {
    margin-right: 8px;
    font-size: 18px;
}


/* Стилі для назви таба */

.tab-title {
    flex-grow: 1;
    white-space: nowrap;
    /* Забороняє перенос слів */
}


/* Стилі для закріплених табів */

.pinned {
    background-color: #ffd700;
}


/* Стилі для кнопки закріплення */

.pin-button {
    margin-left: 8px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    background: transparent;
    color: #007bff;
}


/* Стилі для кнопки закриття */

.close-button {
    margin-left: 8px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    color: red;
    background: transparent;
    border: none;
}


/* Стилі для випадаючого списку */

.tab-dropdown {
    margin-top: 10px;
}

.tab-dropdown select {
    padding: 10px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border-radius: 0;
    /* Прибрано скруглення */
    border: 1px solid #ccc;
    /* Додає обведення */
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    /* Забороняє перенос слів */
}


/* Стилі для контролів табів */

.tab-controls {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.tab-controls input {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tab-controls button {
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tab-controls select {
    margin-bottom: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    /* Прибрано скруглення */
    font-size: 14px;
    cursor: pointer;
    background-color: #f0f0f0;
    white-space: nowrap;
    /* Забороняє перенос слів */
}